---
layout: default
---

<section>
	<ul>

		{% for post in paginator.posts %}

		<li>
			<div class="post-date">
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</div>
			<div>
				<a class="description" href="{{ post.url | prepend: site.baseurl }}">
	            {% if post.description %}
	                {{ post.description | strip_html | strip_newlines | truncate: 200 }}
	            {% else %}
	                {{ post.content | strip_html | strip_newlines | truncate: 200 }}
	            {% endif %} 
	            </a>
            </div>
		</li>

		{% endfor %}
	</ul>
</section>

{% if paginator.total_pages > 1 %}
<section>
	<div class="pagination">
		<span class="padded" style="margin-right: 0px">Page</span>
		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<span class="padded">{{page}}</span>
			{% else %}
				{% if page == 1 %}
				<a href="/"><span class="padded">1</span></a>
				{% else %}
				<a href="/page/{{page}}"><span class="padded">{{page}}</span></a>
				{% endif %}
			{% endif %}

		{% endfor %}
	</div>
</section>
{% endif %}
