---
layout: default
---

<section>
	<ul>

		{% for post in site.posts %}

		<li>
			<div class="post-date">
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</div>
			<div class=description>
	            {% if post.description %}
	                {{ post.description | strip_html | strip_newlines | truncate: 200 }}
	            {% else %}
	                {{ post.content | strip_html | strip_newlines | truncate: 200 }}
	            {% endif %} 
            </div>
		</li>

		{% endfor %}

	</ul>
</section>
