<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

{% assign link = 'http://qure.ai' %}
{% assign prompt = 'Go to website' %}

	<header class="blog-header">
        {% if site.logo %}
          <a class="blog-logo tooltip" href="{{ link }}" style="background-image: url('{{ site.logo }}')"><span class="tooltiptext">{{ prompt }}</span></a>
        {% endif %}
        <h1 class="blog-title"><a href="/">{{ site.title }}</a></h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <div class="custom-links">
          {% for social in site.social %}
            {% if social.url %}
                &nbsp;&nbsp;
                <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}>
                  <i class="fa fa-{{ social.icon }}" aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;
            {% endif %}
          {% endfor %}
        </div>
    </header>

</aside>
