<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<header class="blog-header">
        {% if site.logo %}
          <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
        {% endif %}
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <div class="custom-links">
          {% for social in site.social %}
            {% if social.url %}
                <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
                  <i class="fa fa-{{ social.icon }}"></i>
                </a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endif %}
          {% endfor %}
          <a href="{{ link }}">{{ prompt }}</a>
        </div>
    </header>

</aside>
